<%if(user.roleCode >= 300){%>
<div class="pb-2 ps-2">
  <a href="#" class="btn btn-success">Editar</a>
  <a href="/articulos/<%=article.id%>/eliminar/<%=comment.id%>" class="btn btn-danger">Eliminar</a>
</div>
<%}%>
