<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%-include("partial/bsLink")%>
  </head>
  <body>
    <div class="container">
      <%-include("partial/NavBar")%> <%-include("partial/bsscript")%>
      <h1 class="text-center">Titulo del articulo</h1>
      <div class="d-flex">
        <div class="col">
          <p>Autor</p>
        </div>
        <div class="col d-flex">
          <p>email@example.com/</p>
          <p>fecha</p>
        </div>
        <div>
          <button type="button" class="btn btn-outline-success">Comment</button>
        </div>
      </div>
      <div>
        <img src="../img/social_1024x530.jpg" alt="foto" />
      </div>
    </div>
  </body>
</html>
