<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <%-include("partials/bsLink")%>
  </head>
  <body>
    <%-include("partials/NavBar")%>
    <div class="container w-50 border shadow rounded mb-5 p-5">
      <h2 class="text-center mb-2">Login</h2>
      <form>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp" />
          <div id="emailHelp" class="form-text">Nunca vamos a compartir tu email.</div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="password" />
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="check1" />
          <label class="form-check-label" for="check1">Recordar.</label>
        </div>
        <button type="submit" class="btn btn-primary">Entrar</button>
        <div class="d-flex gap-3 justify-content-center">
          <p>Aún no tenes cuenta?</p>
          <a class="text-decoration-none" href="/signup">Registrarme</a>
        </div>
      </form>
    </div>
    <%-include("partials/footer")%> <%-include("partials/bsscript")%>
  </body>
</html>
